<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}


<header id="">
    <nav>
      <a href="/" class="link">home</a> |
      <a href="/login" class="link">Login</a> |
      <a href="/register" class="link">Register</a> |
      
    </nav>
  </header>


  </body>
</html>
